/*PC */

@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .feature-pad-mobile {
        display: none;
    }
}

/*Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    label.toggle-menu {
        width: 24px;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar .navbar-menu {
        display: none;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        padding: 50px;
        position: fixed;
        inset: 0 60% 0 0%;
        background-color: white;
        z-index: 2;
        transform: translateX(-100%);
        font-weight: 500;
        transition: 0.5s ease;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }


    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0%);

    }

    .logo {
        visibility: hidden;
    }

    .logo__responsive {
        margin: 20px;
    }

    .navbar .navbar__list {
        display: none;
    }

    .menu-drawer ul {
        margin-left: 20px;
        margin-top: 30px;
    }

    .menu-drawer ul a {
        display: inline-block;
        padding: 14px 0;
        font-size: 18px;
        color: #10375C;
        display: block;
    }

    .hero__img--second {
        display: none;
    }

    .hero__title {
        font-size: 5rem;
    }

    .hero {
        margin-top: 40%;
    }

    .hero__media {
        padding-right: 50px;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
    }

    .hero__contact {
        visibility: hidden;
    }

    .hero__contact--father {
        margin-top: 50px;
    }

    .hero__content {
        padding-left: 50px;
    }

    .service__img {
        display: none;
    }

    /*tam an img*/
    .feature__img {
        display: none;
    }

    .services__row {
        margin-left: 20px;
        display: grid;
        place-items: center;
    }

    .btn-service {
        top: 0;
        left: 50%;
        transform: translateX(50%);
    }

    .feature {
        display: none;
    }

    .feature-pad-mobile {
        padding-top: 100px;
        background: #F7FBFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .feature__content--pad-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .feature__content--pad-mobile .section-heading--pad-mobile {
        max-width: 550px;
        margin-bottom: 18px;
        color: #10375C;
        font-size: 5rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    .feature__content--pad-mobile .section-desc--pad-mobile {
        padding: 0 10px;
        max-width: 100%;
        margin-top: 18px;
        color: #575F66;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.66;
        margin-bottom: 30px;
    }

    .footer__column--pad-mobile {
        display: none;
    }

    .footer__row {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

    .main {
        width: 100%;
    }
}

/*Tablet */
/*Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 65% 0 0%;
        padding: 30px;
    }

    .hero__img.hero__img--first {
        width: 200px;
    }


    .hero__title {
        margin-top: -83px;
        font-size: 3.8rem;
    }


    .hero {
        margin-top: 45%;
    }

    .hero_btn {
        display: none;
    }

    .hero_description {
        width: 136px;
    }

    .hero__content {
        margin-left: -45px;
    }

    .hero_btn--phone {
        display: inline-block;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .service__desc {
        max-width: 100%;
    }

    .services__list .service-item {
        width: 100%;
    }

    .work .container .section-desc {
        width: 100%;
        text-align: center;
    }

    .work__list {
        display: flex;
        flex-direction: column;
    }


    .services__list,
    .btn-service {
        margin-left: 0;
    }

    .service__btn {
        margin-left: -50px;
    }

    .news__list {
        display: grid;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .container {
        width: 100%;
    }

    .dentist__list-mobile {
        grid-template-columns: 1fr;

    }


    .dentist-item__img-bg {
        border-radius: 6px;
        padding-top: 28px;
        background-color: #EAF6FF;
        overflow: hidden;
    }

    .dentist-item__img {
        margin-left: 40px;
        display: block;
        max-width: 100%;
        object-fit: cover;
        height: 290px;
        transition: 0.3s;
    }

    .feature__content--pad-mobile .section-heading--pad-mobile {
        font-size: 4.6rem;
    }

    .section-heading {
        max-width: 100%;
        font-size: 5rem;
        text-align: center;
    }

    .install__inner {
        padding: 0 70px;
        padding-bottom: 30px;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
    }

    .install__content {
        text-align: center;
        width: 100%;
        margin-left: -14%;
    }

    .install__img {
        margin-bottom: 30px;
    }

    .news__heading.section-heading {
        font-size: 2.5rem;
        text-align: left;
    }

    a.news__read-more {
        font-size: 1.5rem;
    }

    .news__content {
        width: 100%;
    }

    .appointment__heading {
        max-width: 100%;
        text-align: center;
        font-size: 3rem;
        display: inline-block;
    }

    .footer__column {
        display: none;
    }

    .footer__column--mobile {
        display: block;
    }

    .footer__column__form--mobile {
        display: inline-block;
    }

    .footer__row {
        display: flex;
        flex-direction: column;
    }

}